
<section class="section1">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-5 mb-2">
              <div class=" row">
                  <div class="col-7">
                    <p class="titre">Asset Overview</p>
                  </div>
                  <div class="col d-grid gap-2 d-md-flex justify-content-md-end">
                      <div class="dep">
                        <a class="btn" type="button">Deposit</a>
                      </div>
                      <a class="btn btn-success " href="">Withdraw</a>
                  </div>
              </div>
              <div class="row mt-3">
                  <div class="col block">
                      <div class="row">
                          <div class="col-7">
                              <p class="price">$18,214.239</p>
                              <p class="infop">total Balance</p>
                          </div>
                          <div class="col">
                              <p class="plus">+3.05%</p>
                          </div>
                      </div>
                  </div>
                  <div class="col block">
                      <div class="row">
                          <div class="col-7">
                              <p class="price">$18,214.239</p>
                              <p class="infop">total Earned</p>
                          </div>
                          <div class="col">
                              <p class="moins">-3.05%</p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="row mt-3">
                  <div class="col block">
                      <div class="row">
                          <div class="col-7">
                              <p class="price">$18,214.239</p>
                              <p class="infop">Daily Interest</p>
                          </div>
                          <div class="col">
                              <p class="moins">-3.05%</p>
                          </div>
                      </div>
                  </div>
                  <div class="col block">
                      <div class="row">
                          <div class="col-7">
                              <p class="price">$18,214.239</p>
                              <p class="infop">Principal Value</p>
                          </div>
                          <div class="col">
                              <p class="plus">+3.05%</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="box col-lg-7">
              <div class="row">
                  <div class="col-9">
                      <p class="titre">My Box</p>
                  </div>
                  <div class="col-3 d-grid gap-2 d-md-flex justify-content-md-end">
                      <a class="btn btn-success" href="">See Details</a>
                  </div>
              </div>
              <div class="table-responsive-lg">
                  <table class="table mt-4 table-hover">
                      <thead>
                      <tr>
                          <td>Box</td>
                          <td>Crypto</td>
                          <td>Box Grade</td>
                          <td>Annual Interest</td>
                          <td>Daily Interest</td>
                      </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td><img src="../../assets/img/box1.png" class="me-2" alt=''/>$15,064.231195</td>
                              <td>USDT</td>
                              <td>C</td>
                              <td>10.00%</td>
                              <td>2.611579 bps</td>
                          </tr>
                          <tr>
                              <td><img src="../../assets/img/box2.png" class="me-2" alt=''/>$15,064.231195</td>
                              <td>USDT</td>
                              <td>C</td>
                              <td>10.00%</td>
                              <td>2.611579 bps</td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
</section>
